[submodule "frontend"]
	path = frontend
	url = git@github.com:InNoHassle-Workshops-Check-In/frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:InNoHassle-Workshops-Check-In/backend.git
